body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    margin: 0px;
    padding: 0;
}

a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

button {
    font-family: 'Roboto';
    border: none;
    border-radius: 10px;
    background: #3882F6;
    color: white;
    padding: 12px 16px;
    max-width: 30%;
    font-size: 14px;
}

ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
    gap: 55px;
}



.top{
    background-color: #1F2937;
    padding: 16px 128px 128px;
    display:flex;
    flex-direction: column;
    flex: 1;
}

.header{
    display:flex;
    justify-content: space-between;
}

.head_logo{
    width:100px;
    height:50px;
}

.headertwo{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;

}
.welcome{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 16px;
    justify-content: space-evenly;
}

.welc_img{
    display: flex;
    max-width: 50%;;
}

.welc_jpg{
    display: flex;
    overflow: hidden;
}

.head_main{
    font-size: 54px;
    font-weight: bolder;
    color: #f9faf8;
}

.head_secon{
    font-size: 26px;
    color: #E5E7EB;
}